<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="csvResource" class="org.springframework.core.io.ClassPathResource">
        <constructor-arg value="questions.csv"/>
    </bean>

    <!-- DAO -->
    <bean id="questionDao" class="ru.diasoft.task01.dao.CsvQuestionDaoImpl">
        <constructor-arg ref="csvResource"/>

    </bean>

    <!-- Services -->
    <bean id="questionService" class="ru.diasoft.task01.service.QuestionServiceImpl">
        <constructor-arg ref="questionDao"/>
    </bean>

    <bean id="testService" class="ru.diasoft.task01.service.TestServiceImpl">
        <constructor-arg ref="questionService"/>
    </bean>

</beans>
